<div>
  <ul class="nav nav-pills">
    <li class="<%= 'active' if @category == nil %>"><%= link_to 'No Filter', evidence_index_path %></li>
    <% %w(Email Document Transcript).each do |category| %>
      <li class="<%= 'active' if @category == category %>"><%= link_to category, evidence_index_path(category: category) %></li>
    <% end %>
  </ul>
</div>
<table id="evidence" class="table table-striped">
  <% case @category
     when 'Email' %>
     <%= render 'email', evidence: @evidence %>
  <% when 'Document' %>
     <%= render 'document', evidence: @evidence %>
  <% when 'Transcript' %>
    <%= render 'transcript', evidence: @evidence %>
  <% else %>
    <%= render 'default', evidence: @evidence %>
  <% end %>
</table>
